
.fontsipayroll {
    font-family: 'Poppins';
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.table .thead-blue th {
    color: whitesmoke;
    background-color: cadetblue;
    border-color: cornsilk;
}
.grey-bg {  
    background-color: #F5F7FA;
}


.text-form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.batal {
    background-color: antiquewhite;
}



.navbar-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-navbar {
    font-weight: 700;
}
