<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Fragment </title>

    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/sipayroll.css}">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>

    <!--    jquery,ajax, and bootstrap.js-->

    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
</head>

<body>
    <div th:fragment="navbar">
      <div class="sidebar-container fontsipayroll">
        <div class="sidebar-logo">
         SIPAYROLL
        </div>
        <ul class="sidebar-navigation fontsipayroll">

          </li>
          <li class="header">Menu</li>
          <li>
            <a th:href="@{/}">
              <i class="fa fa-home" aria-hidden="true" ></i> Homepage
            </a>
          </li>
          <li>
            <a th:href="@{/gaji/viewall}">
              <i class="fas fa-wallet" aria-hidden="true"></i> Gaji
            </a>
          </li>
          <li>
            <a  th:href="@{/lembur/viewall}">
              <i class="fas fa-clock" aria-hidden="true" ></i> Lembur
            </a>
          </li>
          <li>
            <a th:href="@{/bonus/add}">
              <i class="fas fa-gift" aria-hidden="true"></i> Bonus
            </a>
          </li>
          <li>
            <a th:href="@{/addLowongan}">
              <i class="fas fa-table" aria-hidden="true"></i> Lowongan
            </a>
          </li>
        </ul>
      </div>
      <nav class="navbar navbar-expand-lg ">
        <ul class="navbar-nav fontsipayroll ml-auto">
            <li class="nav-item dropdown fontsipayroll" style="font-size: 15px;">
                <a class="nav-link dropdown-toggle fontsipayroll" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt " style="display: inline;"></i>
                    <p  style="display:inline; font-family: 'Poppins';" th:text=" ' Hello, '+ ${#httpServletRequest.remoteUser} + ' !' "></p></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info " aria-labelledby="navbarDropdownMenuLink-4 " style="font-size: 15px;">
                    <a class="dropdown-item " th:href="@{/user/info} ">Profile</a>
                    <a class="dropdown-item " th:href="@{/logout} ">Logout</a>
                </div>
            </li>

        </ul>

    </div>
</nav>

    </div>
    
</body>

</html>