<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Gaji </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>
<div class="content-container fontsipayroll">
    <div class="container-fluid">
        <div class="card m-5 p-3">
            <h4 class="text-center" style="font-weight: bold;">Tambah Gaji</h4>
            <form th:action="@{/gaji/add}" th:object="${gaji}" method="POST">
                <div class="form-group row">
                    <label for="uuid_user" class="col-sm-2 col-form-label" style="font-weight: bold">UUID User</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-lg" id="uuid_user" th:field="${gaji.user}">
                            <option th:value="null" selected>Pilih UUID</option>
                            <option th:each="user : ${listUser}" th:value="${user.id}" th:text="${user.username}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gajiPokok" class="col-sm-2 col-form-label" style="font-weight: bold">Gaji Pokok</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="gajiPokok" th:field="${gaji.gajiPokok}" placeholder="Masukkan Gaji Pokok (e.g : 50000)">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggalMasuk" class="col-sm-2 col-form-label" style="font-weight: bold">Tanggal Masuk</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="tanggalMasuk" th:field="${gaji.tanggalMasuk}" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label" style="font-weight: bold"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-outline-info">Simpan</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>
</body>
</html>