<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Add Gaji </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>


    <!-- <h4 class="text-center" style="font-family: Poppins;font-weight: bold;">Add Gaji</h4>
        <form class="post-form; text-center" th:action="@{/gaji/add}" th:object="${gaji}" method="POST">

            Gaji Pokok : <br>
            <input class="form-control" type="text" th:field="*{gajiPokok}" />
            <br><br> Tanggal Masuk : <br>
            <input type="date" th:field="*{tanggalMasuk}" class="form-control" />
            <br><br>

            <button class="btn btn-success" type="submit">Submit</button>

        </form> -->
    <nav th:replace="fragments/fragment :: navbar"></nav>
<!--    <br>-->
<!--    <div class="fontsipayroll">-->
<!--        <div class="row text-form">-->
<!--            <div class="col-2"></div>-->
<!--            <h3 class="col-8 text-center">Form Tambah Gaji</h3>-->
<!--            <div class="col-2"></div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <form th:action="@{/gaji/add}" th:object="${gaji}" method="POST">-->
<!--            <div class="container-fluid text-form">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4"></div>-->
<!--                    <label class="col-md-4 col-form-label text-left">Gaji</label>-->
<!--                    <div class="col-md-4"></div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <div class="col-md-4"></div>-->
<!--                    <div class="col-md-4">-->
<!--                        <input class="form-control" type="text" th:field="*{gajiPokok}">-->
<!--                    </div>-->
<!--                    <div class="col-md-4"></div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4"></div>-->
<!--                    <label class="col-md-4 col-form-label text-left">Tanggal Masuk</label>-->
<!--                    <div class="col-md-4"></div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <div class="col-md-4"></div>-->
<!--                    <div class="col-md-4">-->
<!--                        <input class="form-control" type="date" th:field="*{tanggalMasuk}">-->
<!--                    </div>-->
<!--                    <div class="col-md-4"></div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <div class="col-md-5"></div>-->
<!--                    <div class="col-md-4">-->
<!--                        <a class="btn btn-outline-dark" th:href="@{/}">Batal</a>-->
<!--                        <button type="submit" value="Submit" class="btn btn-primary" name="simpan">Simpan</button>-->
<!--                    </div>-->
<!--                    <div class="col-md-3"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<div class="card m-5 p-3">
    <h4 class="text-center" style="font-family: Poppins;font-weight: bold;">Tambah Gaji</h4>
    <form th:action="@{/gaji/add}" th:object="${gaji}" method="POST">
        <div class="form-group row">
            <label for="uuid_user" class="col-sm-2 col-form-label" style="font-weight: bold">UUID User</label>
            <div class="col-sm-10">
                <select class="form-control form-control-lg" id="uuid_user" th:field="${gaji.user}">
                    <option th:value="null" selected>Pilih UUID</option>
                    <option th:each="user : ${listUser}" th:value="${user.id}" th:text="${user.username}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="gajiPokok" class="col-sm-2 col-form-label" style="font-weight: bold">Gaji Pokok</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="gajiPokok" th:field="${gaji.gajiPokok}" placeholder="Masukkan Gaji Pokok (e.g : 50000)">
            </div>
        </div>
        <div class="form-group row">
            <label for="tanggalMasuk" class="col-sm-2 col-form-label" style="font-weight: bold">Tanggal Masuk</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="tanggalMasuk" th:field="${gaji.tanggalMasuk}" >
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
</div>
</body>

</html>