<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Form Tambah Lowongan </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="card shadow mb-5 bg-white rounded">
    <div class="card-header">Buat Lowongan</div>
    <div class="card-body">
        <form th:action="@{/add-rekruitmen}" method="POST">
            <div class="form-group">
                Divisi<br>
                <input type="text"  class="form-control" name="divisi"/>
            </div>
            <div class="form-group">
                Posisi<br>
                <input type="text"  class="form-control" name="posisi">
            </div>
<!--            <div class="form-group">-->
<!--                Jenis Lowongan<br>-->
<!--                <select name="jenisLowongan" class="form-control">-->
<!--                    <option th:each="jenisLowongan : ${listJenisLowongan}" th:value="${jenisLowongan.idJenisLowongan}" th:text="${jenisLowongan.namaJenisLowongan}"></option>-->
<!--                </select>-->
<!--            </div>-->
            <!--            <input type="hidden" th:field="*{jumlah}" th:value="0"/>-->
            <div class="form-group">
                Jumlah Karyawan yang Dibutuhkan<br>
                <input name="jumlah_karyawan"type="text" class="form-control"/>
            </div>
            <div class="form-group">
                Jenis Lowongan
                <select name="jenis" class="form-control">
                    <option value="1">Full Time</option>
                    <option value="2">Part Time</option>
                    <option value="3">Internship</option>
                    <option value="4">Freelance</option>
                </select>
            </div>
            <div class="container" id="buttons">
                <a th:href="@{/lowongan}" class="btn">Batal</a>
                <button class="btn btn-grad" type="submit">Buat</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>