<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Detail Gaji </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar('View Detail Gaji') "></nav>
<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="font-weight-bold mt-5">Detail Gaji</h2>
    <div class=" border bg-light mt-2 mb-1" style="border-radius:30px;padding:0.5rem 6rem 0rem 6rem">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td class="font-weight-bold">Nama Pegawai</td>
                <td class="font-weight-bold">:</td>
                <td th:text="${gaji.user.username}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Gaji Pokok</td>
                <td>: </td>
                <td th:text="${gaji.gajiPokok}"></td>
            </tr>
            <tr>
                <td class="font-weight-bold">Total Pendapatan</td>
                <td>: </td>
<!--                <td th:text="${pesawat.tipe.namaTipe}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary ml-3" href="/gaji/viewall">Kembali</a>
</body>
</html>